# IDE / 工具配置
.codebuddy/
.vscode/

# 虚拟环境
# mvp1的虚拟环境
mvps/mvp1/venv/
# 根目录的虚拟环境
venv/
.env

# Python 缓存
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# mvp1
mvps/mvp1/__pycache__/
mvps/mvp1/perfa_mvp1/__pycache__/
mvps/mvp1/perfa.db

# node_agent
src/node_agent/__pycache__/
src/node_agent/monitor/__pycache__/
src/node_agent/tool/__pycache__/

# tool 编译产物
src/node_agent/tool/binaries/
# tool 解压后的源码目录（保留压缩包）
src/node_agent/tool/sources/cpu/superpi/
src/node_agent/tool/sources/cpu/unixbench/
src/node_agent/tool/sources/mem/Linux/
src/node_agent/tool/sources/mem/Windows/

# 数据存储
data/
*.db
*.sqlite

# 日志
*.log
/tmp/

# 系统文件
.DS_Store
Thumbs.db

# 压缩包
*.tar.gz
*.zip

# 测试文件
pi*.txt
